* {
  box-sizing: border-box;
}

body{
  background-color: purple;
}

header{
  background-color: :yellow;
  color: white;
  text-align: center;
}

main{
  background-color: green;
  width: 960px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50px;
}

aside {
  display: block;

}
footer{
  background-color: white;
  color: red;
  text-align: center;
}

.instructions {
  background-color: white;§
  width:50%;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
}

.questions{
  background-color: black;
  height: 400px;
  width: 70%;
  margin: 0 auto;
  border-radius: 50px;
  color: white;
}

.feedback{
  background-color: white;
  border: 5px solid blue;
  width: 500px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50px;
}

.score{
  background-color: white;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  border: 2px solid yellow;
  text-align: left;
  border-radius: 50px;
  padding: 15px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.timer {
  height: 70px;
  width: 70px;
  border: 5px solid red;
  position: relative;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: white;
  margin: 0 auto;
  float: right;
  background-color: black;
}

.multiplechoice li {
  color: orange;
  background-color: black;
  border: 2px solid orange;
  border-radius: 5px;
  margin: 30px 40px;
  height: 30px;
  display: block;
  padding-top: 10px;
  width: 80%;
}

.multiplechoice li:first-child{
  margin-top: 40px;
}

button:focus {
  outline: 0;
}
